{% extends "base.html" %}

{% block title %}Create Sale{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Create Sale</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.project.label_tag }}
                                {{ form.project }}
                            </div>
                            <div class="mb-3">
                                {{ form.company.label_tag }}
                                {{ form.company }}
                            </div>
                            <div class="mb-3">
                                {{ form.status.label_tag }}
                                {{ form.status }}
                            </div>
                            <div class="mb-3">
                                {{ form.probability.label_tag }}
                                {{ form.probability }}
                            </div>
                            <div class="mb-3">
                                {{ form.sale_date.label_tag }}
                                {{ form.sale_date }}
                            </div>
                            <div class="mb-3">
                                {{ form.license_area.label_tag }}
                                {{ form.license_area }}
                            </div>
                        </div>
                        <div class="col-md-6">                            
                            <div class="mb-3" >
                                {{ form.unit_rate.label_tag }}
                                {{ form.unit_rate }}
                            </div>
                            <div class="mb-3" >
                                {{ form.estimated_value.label_tag }}
                                {{ form.estimated_value }}
                            </div>
                            <div class="mb-3" >
                                {{ form.weighted_value.label_tag }}
                                {{ form.weighted_value }}
                            </div>
                            <div class="mb-3" >
                                {{ form.tgs_net_value.label_tag }}
                                {{ form.tgs_net_value }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var isInputHandlerAttached = false;
        
        function attachInputEventHandler() {
            $('[id^=id_probability], [id^=id_license_area], [id^=id_unit_rate], [id^=id_tgs_net_value]').on('input', function() {
                var licenseArea = parseFloat($('#id_license_area').val());
                var unitRate = parseFloat($('#id_unit_rate_0').val());
                var probability = parseFloat($('#id_probability').val());

                var estimatedValueFieldID = '[id^=id_estimated_value]';
                var estimatedWeightedValueFieldID = '[id^=id_weighted_value]';
                var tgsNetValueFieldID = '[id^=id_tgs_net_value]';

                if (!isNaN(licenseArea) && !isNaN(unitRate)) {
                    var estimatedValue = licenseArea * unitRate;
                    $(estimatedValueFieldID).val(estimatedValue.toFixed(2));
                }
                if (!isNaN(licenseArea) && !isNaN(unitRate) && !isNaN(probability) && !isNaN(globalPartnerShare)) {
                    var prob = probability / 100;
                    var weightedValue = licenseArea * unitRate * prob 
                    $(estimatedWeightedValueFieldID).val(weightedValue.toFixed(2));
                }
                if (!isNaN(licenseArea) && !isNaN(unitRate) && !isNaN(probability) && !isNaN(globalPartnerShare)) {
                    var prob = probability / 100;
                    var tgsnetValue = licenseArea * unitRate * prob * globalPartnerShare;
                    $(tgsNetValueFieldID).val(tgsnetValue.toFixed(2));
                }
            });
    
        $('#id_project').change(function() {
            var projectId = $(this).val();

            $.ajax({
                type: 'GET',
                url: '/projectmanager/get_partner_share/',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                data: {
                    'project_id': projectId
                },
                success: function(response) {
                    var partnerShare = parseFloat(response.partner_share);
                    globalPartnerShare = partnerShare;

                    if (!isInputHandlerAttached) {
                        attachInputEventHandler();
                        isInputHandlerAttached = true;
                    } else {
                        // Trigger input event to recalculate values if the handler is already attached
                        $('[id^=id_probability]').trigger('input');
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.log(errmsg);
                }
            });
        });
    });

    




</script>


{% endblock %}