{% extends "base.html" %}

{% block title %}Create Sale{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Create Sale</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.project.label_tag }}
                                {{ form.project }}
                            </div>
                            <div class="mb-3">
                                {{ form.company.label_tag }}
                                {{ form.company }}
                            </div>
                            <div class="mb-3">
                                {{ form.status.label_tag }}
                                {{ form.status }}
                            </div>
                            <div class="mb-3">
                                {{ form.probability.label_tag }}
                                {{ form.probability }}
                            </div>
                            <div class="mb-3">
                                {{ form.sale_date.label_tag }}
                                {{ form.sale_date }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.license_area.label_tag }}
                                {{ form.license_area }}
                            </div>
                            <div class="mb-3" >
                                {{ form.unit_rate.label_tag }}
                                {{ form.unit_rate }}
                            </div>
                            <div class="mb-3" >
                                {{ form.estimated_value.label_tag }}
                                {{ form.estimated_value }}
                            </div>
                            <div class="mb-3" >
                                {{ form.weighted_value.label_tag }}
                                {{ form.weighted_value }}
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        var isInputHandlerAttached = false;
        function attachInputEventHandler() {
            $('[id^=id_probability], [id^=id_license_area], [id^=id_unit_rate]').on('input', function() {
                var licenseArea = parseFloat($('#id_license_area').val());
                var unitRate = parseFloat($('#id_unit_rate_0').val());
                var probability = parseFloat($('#id_probability').val());
    
                var estimatedValueFieldID = '[id^=id_estimated_value]';
                var estimatedWeightedValueFieldID = '[id^=id_weighted_value]';
    
                if (!isNaN(licenseArea) && !isNaN(unitRate)) {
                    var estimatedValue = licenseArea * unitRate;
                    $(estimatedValueFieldID).val(estimatedValue.toFixed(2));
                }
                if (!isNaN(licenseArea) && !isNaN(unitRate) && !isNaN(probability) && !isNaN(globalPartnerShare)) {
                    var prob = probability / 100;
                    var weightedValue = licenseArea * unitRate * prob * globalPartnerShare;
                    $(estimatedWeightedValueFieldID).val(weightedValue.toFixed(2));
                }
            });
        }
        $('#id_project').change(function() { // Assuming id_project is the ID of your project select input
            var projectId = $(this).val(); // Get the selected project ID          
            
            // Make an AJAX request to fetch partner_share from the server
            $.ajax({
                type: 'GET',
                url: '/projectmanager/get_partner_share/', // Replace with your endpoint URL
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                },
                data: {
                    'project_id': projectId
                },
                success: function(response) {
                    // Update calculations with partner_share value from the server response
                    var partnerShare = parseFloat(response.partner_share);                    
                    globalPartnerShare = partnerShare; // Store in global variable
                        // Update calculations with partner_share value from the server response
                   
                    // Check if the input event handler is already attached
                    if (!isInputHandlerAttached) {
                        // Attach the input event handler
                        attachInputEventHandler();
                        isInputHandlerAttached = true;
                        }
                },
                error: function(xhr, errmsg, err) {
                    // Handle error if needed
                    console.log(errmsg);
                }
            });
        });
        // Other parts of your existing JavaScript for real-time calculations
    });

    


</script>


{% endblock %}